<div id="about" class="w-full px-[12%] py-10 scroll-mt-20 ">
    <h4 style="font-family: Ovo;" class="text-center mb-2 text-lg">Introduction</h4>
    <h2 style="font-family: Ovo;" class="text-center text-5xl">About me</h2>
    <div class="flex w-full flex-col lg:flex-row items-center gap-20 my-20">
        <div class="w-64 sm:w-80 rounded-3xl max-w-none">
            <img class="w-full rounded-3xl" src="assets/user-image.png" alt="user">
        </div>
        <div class="flex-1">
            <p class="mb-10 max-w-2xl font-Ovo">
                I am Full stack developer with very high efficient profiency in skills .Throughout my career, I have had
                the provilage of collaborating with prestigious organizations, contributing to thier success and growth
            </p>
            <ul class="grid grid-cols- sm:grid-cols-3 gap-6 max-w-2xl">
                @for(info of infoList; track info){
                    <li class="border-[0.5px] border-gray-400 rounded-xl p-6 cursor-pointer">
                        <img src={{info.icon}} alt="">
                        {{info.title}}
                    </li>
                }
            </ul>
        </div>
    </div>
</div>