<div class="w-11/12 max-w-3xl text-center mx-auto h-screen flex flex-col items-center justify-center gap-4">
    <div class="mt-8">
        <img src="assets/profile-img.png" alt="" class="rounded-full w-32">
    </div>
    <h3 style="font-family: Ovo;" class="flex items-end gap-2 text-xl md:text-2xl mb-3">Hi i am Naved Ali Khan <img
            src="assets/hand-icon.png" alt="" class=" w-6"></h3>

    <h1 style="font-family: Ovo;" class="text-3xl sm:text-6xl lg:text-[66px] ">
        full Stack web developer based in India
    </h1>
    <p class="max-w-2xl mx-auto font-Ovo  leading-8">
        I am a Full stack developer from Bareilly , India with very high proefiency in multiple field like MongoDb ,
        Express,
        React and Node , Angular etc (MERN)/(MEAN) .
    </p>
    <div class="flex flex-col sm:flex-row items-center gap-4 mt-4">
        <a href="#contact"
            class="px-10 py-3 border border-white rounded-full bg-black text-white flex items-center gap-2 ">Contact me
            <img src="assets/right-arrow-white.png" alt="" class="w-4">
        </a>
        <a href="assets/public/sample-resume.pdf" download
            class="px-10 py-3 border rounded-full border-gray-500 flex items-center gap-2 ">My Resume
            <img src="assets/download-icon.png" alt="" class="w-4">
        </a>
    </div>
</div>